.fields-group
  = form.input :number,
               wrapper: :with_block_label

.fields-group
  = form.input :question,
               wrapper: :with_block_label

.fields-group
  = form.input :answer,
               wrapper: :with_block_label
