@font-face {
    font-family: 'Zapfino';
    font-style: normal;
    font-weight: normal;
    src: local('Zapfino'),
        url('../fonts/zapfino/Zapfino.woff') format('woff'),
        url('../fonts/zapfino/Zapfino.woff2') format('woff2'),
        url('../fonts/zapfino/Zapfino.ttf') format('ttf'),
        url('../fonts/zapfino/Zapfino.eot') format('eot'),
        url('../fonts/zapfino/Zapfino.otf') format('otf');
}