- content_for :page_title do
  = 'New Field Value'

.card.my-3
  .card-body
    %h1 New Field Value

    = render 'form', field_value: @field_value

    = link_to 'Back', admin_field_template_field_values_path(@field_template), class: 'btn btn-secondary'
